:root {
	--light-purple: rgb(29, 29, 53);
	--dark-purple: rgb(24, 24, 43);
	--al-teal: rgba(70, 216, 216, 1);
	--teal: 70, 216, 216;
	--light-grey: hsl(0, 0%, 60%);
	--white: rgb(255, 255, 255);
	--snipe-bg: rgba(138, 198, 229, 1);
	--primary-dark: rgb(25, 25, 25);

	--fw-700: 700;
	--fw-400: 400;
	--fw-300: 300;

	--container-w: 1600px;
	--section-pad: 6rem;
}
