.slider {
	height: 60vh;

	.container {
		height: 100%;
		max-width: var(--container-w);
		margin: 0 auto;
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;

		.slider_arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			z-index: 1;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--al-teal);
			}
			&.slider_arrow__left {
				left: 0;
			}
			&.slider_arrow__right {
				right: 0;
			}
		}

		.slider_item {
			min-width: 100%;
			display: flex;
			justify-content: center;

			.border {
				border-radius: 0.8rem;
			}

			.slider_item_left {
				.slider_item_iframe {
					// max-width: 70%;
					width: 640px;
					height: 359px;
				}

				.slider_item_img {
					width: 40rem;
					height: 10rem;
				}
			}

			.slider_item_right {
				width: 40%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.slider_item_copy {
					max-width: 50rem;
					margin-left: 4rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.slider {
		.container {
			.slider_item {
				.slider_item_left {
					width: 40%;

					.slider_item_iframe {
						max-width: 100%;
					}
				}
				.slider_item_right {
					width: 40%;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.slider {
		height: auto;
		.container {
			padding-bottom: 4rem;
			.slider_item {
				flex-direction: column;
				align-items: center;

				.slider_item_left {
					width: 50%;

					.slider_item_iframe {
						max-width: 100%;
					}
				}
				.slider_item_right {
					width: 50%;
					text-align: center;
					margin-top: 1rem;

					.slider_item_copy {
						margin: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 568px) {
	.slider {
		height: 60vh;
		.container {
			padding-bottom: 0;
			.slider_arrow {
				display: none;
			}
			.slider_item {
				flex-direction: column;
				align-items: center;
				padding: 0 2rem;

				.slider_item_left {
					width: 100%;

					.slider_item_iframe {
						max-width: 100%;
					}
				}
				.slider_item_right {
					width: 100%;
					text-align: center;
					margin-top: 2rem;

					.slider_item_copy {
						margin: 0;

						.slider_item_title {
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
}
